<ion-header class="ion-no-border">
    <ion-toolbar fxLayout="row" fxLayoutAlign="start center">
        <ion-buttons slot="start">
            <ion-button size="small" fill="clear" shape="round" (click)="dismiss(false)">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <h1>Are you sure you want to remove this agent?</h1>
    <div class="form-group">
        <textarea class="form-control sl-form-control" [formControl]="reason" type="text" placeholder="Reason*"></textarea>
    </div>
    <ion-spinner name="crescent" color="primary" class="ml-auto mr-auto mt-2 d-block" *ngIf="isRequesting"></ion-spinner>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div matRipple [matRippleColor]="color" *ngIf="!isRequesting">
                <button mat-button (click)="requestRemoval()" class="btn sl-btn sl-btn-outline fixed-width">Yes</button>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>