<ion-header class="ion-no-border">
    <ion-toolbar fxLayout="row" fxLayoutAlign="start center">
        <ion-buttons slot="start">
            <ion-button size="small" fill="clear" shape="round" (click)="dismiss(false)">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Forgot Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <img src="assets/images/main-logo.png" class="logo">
    <div class="form-group">
        <input class="form-control sl-form-control" [formControl]="email" type="text" placeholder="Email*">
    </div>
    <div class="info-text" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
        <div>
            <ion-icon name="information-circle"></ion-icon>
        </div>
        <div>
            <p>
                you will be send an email with the new password, change it in profile settings afterwards.
            </p>
        </div>
    </div>
    <div>
        <ion-spinner name="crescent" color="primary" class="d-block ml-auto mr-auto mt-2" *ngIf="isProcessing"></ion-spinner>
    </div>
</ion-content>
<ion-footer *ngIf="!isProcessing">
    <ion-toolbar>
        <div fxLayout="row" fxLayoutAlign="center center" class="bottom-buttons">
            <div matRipple [matRippleColor]="color">
                <button mat-button (click)="forgot()" class="btn sl-btn sl-btn-outline">Send</button>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>