<ion-header class="ion-no-border">
    <ion-toolbar fxLayout="row" fxLayoutAlign="start center">
        <ion-buttons slot="start">
            <ion-button size="small" fill="clear" shape="round" (click)="dismiss(false)">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <h1>Send quote as a file</h1>
    <mat-hint>max 3 mb</mat-hint>
    <div class="form-group mn-uploader" fxLayout="column">
        <input class="form-control sl-form-control" (click)="quoteFileInput.value = null" (change)="onQuoteSelect($event,quoteFileInput)" type="file" hidden #quoteFileInput accept="application/pdf,application/msword,
    application/vnd.openxmlformats-officedocument.wordprocessingml.document">
        <span matRipple [matRippleColor]="color">
    <button [disabled]="isSending" class="btn sl-btn sl-btn-active" (click)="quoteFileInput.click()">Choose quote</button>
    </span>
        <p *ngIf="quoteFile">{{quoteFilename}}</p>
    </div>
    <ion-spinner name="crescent" color="primary" class="ml-auto mr-auto mt-2 d-block" *ngIf="isSending"></ion-spinner>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <div fxLayout="row" fxLayoutAlign="center center">
            <div matRipple [matRippleColor]="color" *ngIf="!isSending">
                <button mat-button (click)="sendQuote()" class="btn sl-btn sl-btn-outline fixed-width">Send</button>
            </div>
        </div>
    </ion-toolbar>
</ion-footer>