<ion-header class="ion-no-border">
    <ion-toolbar fxLayout="row" fxLayoutAlign="start center">
        <ion-buttons slot="start">
            <ion-button size="small" fill="clear" shape="round" routerLink="/login" routerDirection="backward">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Signup</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <div class="sl-registersignarea">
        <img src="assets/images/main-logo.png" class="logo">
        <div class="tab-pane fade show active" id="signupprovider" role="tabpanel" aria-labelledby="sl-signupprovider">
            <form class="sl-formtheme sl-signupform" [formGroup]="signupForm" (ngSubmit)="onSubmit(terms.checked)">
                <fieldset>
                    <div class="sl-signupform-wrap">
                        <div class="form-group">
                            <input type="text" formControlName="username" name="name" value="" class="form-control sl-form-control" placeholder="Username*" required="">
                            <mat-error *ngIf="(!signupForm.get('username').valid)&&(isSubmitted)">Please enter a username</mat-error>
                        </div>
                        <div class="form-group">
                            <input type="email" [readonly]="isEmailVerified" formControlName="email" name="email" [matTooltip]="emailTooltip" value="" class="form-control sl-form-control" placeholder="Email*">
                            <mat-error *ngIf="(!signupForm.get('email').valid)&&(isSubmitted)">Email not valid</mat-error>
                        </div>
                        <div class="form-group">
                            <input type="text" [readonly]="isMobileVerified" formControlName="mobile" name="Phone" [matTooltip]="mobileTooltip" value="" class="form-control sl-form-control" placeholder="Phone*">
                            <mat-error *ngIf="(!signupForm.get('mobile').valid)&&(isSubmitted)">Mobile number is invalid</mat-error>
                        </div>
                        <div class="form-group form-group-half">
                            <input type="password" formControlName="password" name="password" value="" class="form-control sl-form-control" placeholder="Password*">
                            <mat-error *ngIf="(!signupForm.get('password').valid)&&(isSubmitted)">Please enter password</mat-error>
                        </div>
                        <div class="form-group form-group-half">
                            <input type="password" formControlName="rePassword" name="password" value="" class="form-control sl-form-control" placeholder="Retype Password*">
                            <mat-error *ngIf="(!signupForm.get('rePassword').valid)&&(isSubmitted)">Please re enter password</mat-error>
                        </div>
                        <div class="form-group sl-btnarea">
                            <div class="sl-checkbox">
                                <input id="terms2" type="checkbox" name="category" #terms>
                                <label for="terms2">
                                    <span>I agree to <a href="javascript:void(0);">Terms and Conditions</a></span>
                                </label>
                            </div>
                            <ion-spinner name="crescent" color="primary" class="ml-auto mr-auto mt-2" [hidden]="!showSpinner"></ion-spinner>
                            <div matRipple [matRippleColor]="color">
                                <button type="submit" class="btn sl-btn sl-btn-outline" [hidden]="showSpinner">Signup</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="sl-registerarea__terms">
        <p>By signing up you agree to these <a href="javascript:void(0);">Terms &amp; Conditions</a> &amp; consent to <a href="javascript:void(0);"> Cookie Policy &amp; Privacy Policy.</a></p>
    </div>
</ion-content>
<ion-footer>
    <ion-toolbar>
        <div class="sl-registerarea__footer">
            <p> Already a member? <a href="javascript:void(0);" routerLink="/login" routerDirection="backward"> Login Now</a></p>
        </div>
    </ion-toolbar>
</ion-footer>