agm-map {
    height: 300px;
}

.full-width {
    width: 100%;
}

.fixed-width {
    width: 100px;
}

.sl-galleryTab__gallery--item {
    margin: 0px;
}

.agent-label {
    background-color: #f5f5f5;
    padding: 5px;
    border-radius: 6px;
}

.remove-agent {
    cursor: pointer;
}