<ion-header>
    <ion-toolbar fxLayout="row" fxLayoutAlign="start center">
        <ion-title class="pl-3">Profile Settings</ion-title>
        <ion-button (click)="logout()" slot="end" fill="clear" shape="round">
            <ion-icon slot="icon-only" name="log-out"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="sl-tab sl-profileSetting">
        <mat-horizontal-stepper labelPosition="bottom" linear #stepper>
            <!-- #enddocregion label-position -->
            <mat-step label="Company details" [editable]="false" [completed]="isCompletedCompanyDetails">
                <div class="sl-dashboardbox__content pt-0 pb-2 mb-0 mt-0">
                    <a href="javascript:void(0)" (click)="openRefferalDialog()" *ngIf="!isAgent">Do you have a refferal code?</a>
                    <div *ngIf="isAgent" fxLayout="row" fxLayoutAlign="space-between center">
                        <div>
                            <span class="agent-label">Agent</span><br>
                            <h5>{{agent.firstName}}&nbsp;{{agent.lastName}},&nbsp;{{agent.location}}</h5>
                        </div>
                        <span (click)="removeAgent()" class="remove-agent" matTooltip="remove agent"><i class="fas fa-times text-danger"></i></span>
                    </div>
                </div>
                <div class="sl-dashboardbox__content">
                    <form class="sl-form sl-manageServices" [formGroup]="companyDetailsForm">
                        <fieldset>
                            <div class="sl-form__wrap">
                                <div class="form-group form-group-half">
                                    <input class="form-control sl-form-control" formControlName="companyName" type="text" placeholder="Company name*">
                                </div>
                                <div class="form-group form-group-half">
                                    <input class="form-control sl-form-control" formControlName="gstNumber" type="text" placeholder="Gst Number">
                                </div>
                                <div class="form-group form-group-half">
                                    <input class="form-control sl-form-control" formControlName="address" type="text" placeholder="Address*">
                                </div>
                                <div class="form-group form-group-half">
                                    <input class="form-control sl-form-control" formControlName="whatsappNum" type="text" placeholder="whatsApp Number">
                                </div>
                                <div class="form-group form-group-half">
                                    <input class="form-control sl-form-control" formControlName="websiteLink" type="text" placeholder="Website Url">
                                </div>
                                <div class="form-group form-group-half">
                                    <select class="form-control sl-form-control" [matTooltip]="isAgent?'Agent location and vendor location set as same':'Select company location'" formControlName="location" type="text">
                                    <option value="none">Select location*</option>
                                    <option value="{{location.district}}" *ngFor="let location of locations">{{location.district}}</option>
                                </select>
                                </div>
                                <div class="form-group">
                                    <mat-hint>{{companyDetailsForm.controls.about.value.length}}/{{maxChars}}</mat-hint>
                                    <textarea [maxLength]="maxChars" class="form-control sl-form-control" formControlName="about" type="text" placeholder="About*"></textarea>
                                </div>
                                <div class="form-group sl-profileSetting__socialmedia">
                                    <label class="sl-input-group sl-facebook">
                                        <a class="sl-prepend" href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                                        <input class="form-control sl-form-control sl-append" formControlName="fbLink" type="text" placeholder="Add Facebook Link">
                                </label>
                                </div>
                                <div class="form-group sl-profileSetting__socialmedia">
                                    <label class="sl-input-group sl-youtube">
                                        <a class="sl-prepend" href="javascript:void(0);"><i class="fab fa-youtube"></i></a>
                                        <input class="form-control sl-form-control sl-append" formControlName="youtubeLink" type="text" placeholder="Add Youtube Link">
                                </label>
                                </div>
                                <div class="form-group form-group-half">
                                    <input class="form-control sl-form-control" type="text" (input)="setLat()" formControlName="latitude" placeholder="Longitude*">
                                </div>
                                <div class="form-group form-group-half">
                                    <input class="form-control sl-form-control" type="text" (input)="setLng()" formControlName="longitude" placeholder="Latitude*">
                                </div>
                                <div class="form-group">
                                    <div class="sl-profileSetting__map">
                                        <agm-map [latitude]='latitude' [longitude]='longitude' [usePanning]="true" (mapClick)="setLocation($event)">
                                            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)">
                                            </agm-marker>
                                        </agm-map>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="mt-2" matRipple [matRippleColor]="color">
                    <button class="btn sl-btn sl-btn-outline fixed-width" (click)="companyFormSubmit(stepper)">Next</button>
                </div>
            </mat-step>
            <mat-step label="Category and location" [editable]="false" [completed]="isCompletedCategoryAndLocations">
                <div class="sl-dashboardbox__content">
                    <form class="sl-form sl-manageServices" [formGroup]="categoryAndLocationsForm">
                        <fieldset>
                            <div class="sl-form__wrap">
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Category</mat-label>
                                    <mat-select formControlName="categoryId" [(value)]="categoryFromSelect" (selectionChange)="categorySelected()">
                                        <mat-option value="{{category.categoryId}}" *ngFor="let category of categories">{{category.categoryName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Services</mat-label>
                                    <mat-select formControlName="subCategories" multiple (focus)="serviceFocused()">
                                        <mat-option value="{{subCategory.subCategoryName}}" *ngFor="let subCategory of subCategories">{{subCategory.subCategoryName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="full-width">
                                    <mat-label>Preferred location</mat-label>
                                    <mat-select formControlName="preferredLocations" multiple>
                                        <mat-option value="{{location.district}}" *ngFor="let location of locations">{{location.district}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div>
                    <ion-spinner name="crescent" color="primary" class="ml-auto mr-auto mt-2 d-block" [hidden]="!isSaving"></ion-spinner>
                    <div class="mt-2" matRipple [matRippleColor]="color">
                        <button class="btn sl-btn sl-btn-outline fixed-width" (click)="categoryAndLocationFormSubmit(stepper)" [hidden]="isSaving">Next</button>
                    </div>
                </div>
            </mat-step>
            <mat-step label="Photos and gallery" state="done" [editable]="false" [completed]="isCompletedRegistration">
                <div class="sl-dashboardbox__content">
                    <form class="sl-form sl-manageServices">
                        <fieldset>
                            <div class="sl-form__wrap">
                                <div class="form-group mn-uploader">
                                    <mat-hint>max 800 kb, preffered dimension 255 x 180 in pixels</mat-hint>
                                    <input class="form-control sl-form-control" (click)="profileFileInput.value = null" (change)="onProfileSelect($event)" type="file" hidden #profileFileInput accept="image/*">
                                    <div matRipple [matRippleColor]="color">
                                        <button class="btn sl-btn sl-btn-active" (click)="profileFileInput.click()">Choose profile&nbsp;{{profileProgress==0?'':profileProgress+'%'}}</button>
                                    </div>
                                    <img *ngFor='let url of profilePreview' [src]="url" height="120" width="200px" style="margin: 3px;border-radius: 4px;"> <br *ngIf="profilePreview.length" />
                                    <mat-progress-bar mode="determinate" *ngIf="profileProgress!=0" [value]="profileProgress"></mat-progress-bar>
                                </div>
                                <div class="form-group mn-uploader">
                                    <mat-hint>max 500 kb, preffered dimension 96 x 96 in pixels</mat-hint>
                                    <input class="form-control sl-form-control" (click)="logoFileInput.value = null" (change)="onLogoSelect($event)" type="file" hidden #logoFileInput accept="image/*">
                                    <div matRipple [matRippleColor]="color">
                                        <button class="btn sl-btn sl-btn-active" (click)="logoFileInput.click()">Choose logo&nbsp;{{logoProgress==0?'':logoProgress+'%'}}</button>
                                    </div>
                                    <img *ngFor='let url of logoPreview' [src]="url" height="96" width="96px" style="margin: 3px;border-radius: 4px;"> <br *ngIf="logoPreview.length" />
                                    <mat-progress-bar mode="determinate" *ngIf="logoProgress!=0" [value]="logoProgress"></mat-progress-bar>
                                </div>
                                <div class="form-group mn-uploader">
                                    <mat-hint>max 5 mb</mat-hint>
                                    <input class="form-control sl-form-control" (click)="brochureFileInput.value = null" (change)="onBrochureSelect($event)" type="file" hidden #brochureFileInput accept="application/pdf,application/msword,
                                application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                                    <div matRipple [matRippleColor]="color">
                                        <button class="btn sl-btn sl-btn-active" (click)="brochureFileInput.click()">Choose brochure&nbsp;{{brochureProgress==0?'':brochureProgress+'%'}}</button>
                                    </div>
                                    <p>{{brochureFilename}}</p>
                                    <mat-progress-bar mode="determinate" *ngIf="brochureProgress!=0" [value]="brochureProgress"></mat-progress-bar>
                                </div>
                                <div class="form-group mn-uploader">
                                    <mat-hint>max {{galleryMaxCount}} pics of 1 mb each, preferred dimensions 510 x 439 in pixels</mat-hint>
                                    <input class="form-control sl-form-control" (click)="galleryFileInput.value = null" (change)="onGallerySelect($event)" type="file" hidden #galleryFileInput multiple accept="image/*">
                                    <div matRipple [matRippleColor]="color">
                                        <button class="btn sl-btn sl-btn-active" (click)="galleryFileInput.click()">Choose gallery&nbsp;{{galleryProgress==0?'':galleryProgress+'%'}}</button>
                                    </div>
                                    <small class="text-danger d-block" *ngFor="let info of galleryInfo">{{info}}</small><br>
                                    <mat-progress-bar mode="determinate" *ngIf="galleryProgress!=0" [value]="galleryProgress"></mat-progress-bar>
                                </div>
                                <ion-spinner name="crescent" color="primary" class="ml-auto mr-auto mt-2 d-block" *ngIf="isGettingGalleryDetails"></ion-spinner>
                                <div class="form-group" *ngIf="!isGettingGalleryDetails">
                                    <div class="sl-galleryTab__gallery">
                                        <div class="sl-row">
                                            <div class="sl-col-1-of-2 sl-col-md-1-of-3 sl-col-xl-1-of-4" *ngFor='let url of existingGallery'>
                                                <figure class="sl-galleryTab__gallery--item">
                                                    <img src="https://mynestonline.com/collection/images/gallery/{{url}}" alt="Image Description" height="170" width="146px">
                                                    <a class="sl-deleteImg" href="javascript:void(0);" (click)=deleteGalleryImage(url)><i class="fas fa-times"></i>Delete</a>
                                                </figure>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <ion-spinner name="crescent" color="primary" class="ml-auto mr-auto mt-2 d-block" [hidden]="!isUploading"></ion-spinner>
                <div class="mt-2" matRipple [matRippleColor]="color">
                    <button class="btn sl-btn sl-btn-outline fixed-width" (click)="goToDashboard()" [hidden]="isUploading">Dashboard</button>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</ion-content>