/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@font-face {
    font-family: mynest-font;
    src: url("assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

*:not([class^="ti-"]):not([class^="fa"]):not([class^="lnr"]):not(.material-icons) {
    font-family: mynest-font !important;
}

.ripple-parent {
    position: relative;
    overflow: hidden;
}


/*pagination*/

.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after {
    margin-left: 0px!important;
}

.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before {
    margin-right: 0px!important;
}

.ngx-pagination li {
    margin-right: 0.5rem!important;
    min-width: 44px!important;
    height: 44px!important;
    padding: 0!important;
    border: 1px solid #ddd!important;
    border-radius: 4px!important;
}

.ngx-pagination li:hover {
    background-color: #e6e6e6;
}

.ngx-pagination a,
.ngx-pagination button {
    width: 100%!important;
    height: 100%!important;
    display: flex!important;
    justify-content: center!important;
    align-items: center!important;
}

.ngx-pagination .current {
    display: inline-flex!important;
    justify-content: center!important;
    background-color: #039eba!important;
}

.ngx-pagination .current>span:last-child {
    align-self: center!important;
}

.ngx-pagination .disabled {
    display: inline-flex!important;
    justify-content: center!important;
}

.ngx-pagination .pagination-previous.disabled::before,
.ngx-pagination .pagination-next.disabled::after {
    align-self: center!important;
}

.ngx-pagination a:focus,
.ngx-pagination button:focus {
    outline: none!important;
}

.ngx-pagination a:hover,
.ngx-pagination button:hover {
    background-color: transparent!important;
}

.ngx-pagination {
    display: flex!important;
    justify-content: center!important;
    margin-top: 1.2rem!important;
    margin-bottom: 1.8rem!important;
}

.ngx-pagination.responsive .small-screen {
    border: none!important;
}

.modal-wrapper {
    background: transparent !important;
}


/* mat-progress-bar */

.mat-progress-bar {
    margin-top: 10px;
}

.mat-progress-bar .mat-progress-bar-fill::after {
    background-color: #039eba;
}

.login-otp-modal {
    --height: 60%;
    align-items: flex-end;
    --backdrop-opacity: var(--ion-backdrop-opacity, 0.4);
}

img.announcement-img {
    width: 55px;
    position: absolute;
    left: 10px;
    z-index: 9;
}


/*
 * Dark Colors
 * -------------------------------------------
 */

body.dark {
    --ion-color-primary: #039eba;
    .sl-main-section.category-background,
    app-categories ion-content.category-background {
        background: none;
        --background: none;
    }
    ion-searchbar {
        --background: black;
    }
    .sl-category__service {
        background-color: #2f2f2f;
        border: inherit;
        box-shadow: 0px 4px 13px black;
    }
    .sl-latestblog .sl-featuredProducts--post__content h5 {
        color: #039eba;
    }
    .sl-featuredProducts--post,
    .sl-blogsingle__img img,
    .sl-appointment__img img,
    app-landing .box {
        box-shadow: 0px 4px 8px black!important;
    }
    ion-tab-bar {
        box-shadow: 0px -1px 13px black;
    }
    .sl-user__description,
    .btn.sl-btn.sl-btn-outline {
        color: white!important;
    }
    .sl-optionsbar:after,
    .sl-oroption:before,
    .sl-newAppointments__services:before {
        background: #585858;
    }
    .i-userlist li a,
    .i-userlist li>a>ion-icon {
        color: #a6a6a6;
    }
    .sl-serviceProvider-blog .sl-featuredProducts--post__content,
    .sl-registerarea__terms {
        border: inherit;
    }
    .sl-optionsbar em,
    .sl-oroption span {
        background: #1f1e1e;
    }
    .sl-form-control,
    .sl-form-control:active,
    .sl-form-control:hover,
    .sl-form-control:focus,
    .sl-form-control:focus-within,
    .sl-form-control:focus-visible,
    .sl-checkbox>label::before,
    .sl-radio>label::before,
    .sl-messageUser__area--right p,
    .sl-messageUser__area--left p,
    .otp-input {
        background: black!important;
        border-color: black!important;
    }
    .sl-checkbox>label::after,
    .sl-radio>label::after,
    .sl-slider h5 a,
    .sl-notititle h4 a,
    .sl-newAppointments__userText h5 a {
        color: white;
    }
    .sl-loginfooterinfo a+a {
        border-left: #585858;
    }
    .sl-notidescription p,
    .sl-newAppointments__userText p {
        color: #898787;
    }
    .sl-registerarea__footer {
        border: none;
    }
    .mn-tags>span {
        background: black;
        color: white;
    }
    .sl-slider figure>a:first-child+a img,
    .sl-messageUser__heading {
        background: black;
    }
    .otp-input:focus-visible {
        border: none;
        outline: none;
    }
    .sl-slider {
        box-shadow: 0px 6px 10px black;
    }
    .close-fake {
        ion-icon {
            color: white;
        }
    }
    .sl-appointment,
    .sl-emoji {
        background: transparent;
    }
    .sl-emoji {
        border: none;
    }
    .sl-emoji .sl-form-control {
        background-color: #2f2f2f;
        border-color: #2f2f2f;
    }
    .sl-shareHolder__option,
    .mn-uploader {
        background: black;
        border: none;
    }
    .sl-inbox__user {
        overflow-y: auto;
    }
    .sl-inbox__user--list li:hover {
        background: inherit;
    }
    .sl-checkbox>label::before,
    .sl-radio>label::before,
    .mn-announcements {
        background: black;
    }
    .sl-newAppointments__items {
        border: none;
        border-bottom: 1px solid #898787;
    }
    .sl-newAppointments__items:hover {
        background: inherit;
    }
    .sl-newAppointments .sl-dashboardbox__content {
        border: none;
    }
    /*angular material*/
    .mat-icon.mat-primary {
        color: #039eba;
    }
    .mat-expansion-panel {
        background: #1f1e1e;
        color: white;
    }
    .mat-expansion-panel:not([class*='mat-elevation-z']) {
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    }
    .mat-action-row {
        border-top-color: rgba(255, 255, 255, 0.12);
    }
    .mat-expansion-panel .mat-expansion-panel-header.cdk-keyboard-focused:not([aria-disabled='true']),
    .mat-expansion-panel .mat-expansion-panel-header.cdk-program-focused:not([aria-disabled='true']),
    .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled='true']) {
        background: rgba(250, 250, 250, 0.04);
    }
    @media (hover: none) {
        .mat-expansion-panel:not(.mat-expanded):not([aria-disabled='true']) .mat-expansion-panel-header:hover {
            background: #1f1e1e;
        }
    }
    .mat-expansion-panel-header-title {
        color: white;
    }
    .mat-expansion-panel-header-description,
    .mat-expansion-indicator::after {
        color: rgba(255, 255, 255, 0.7);
    }
    .mat-expansion-panel-header[aria-disabled='true'] {
        color: rgba(255, 255, 255, 0.3);
    }
    .mat-expansion-panel-header[aria-disabled='true'] .mat-expansion-panel-header-title,
    .mat-expansion-panel-header[aria-disabled='true'] .mat-expansion-panel-header-description {
        color: inherit;
    }
    .mat-expansion-panel-header {
        height: 48px;
    }
    .mat-expansion-panel-header.mat-expanded {
        height: 64px;
    }
    .mat-form-field-appearance-outline .mat-form-field-outline,
    .mat-select-panel,
    .element-subcategory {
        background: black;
    }
    .mat-hint,
    .mat-option,
    .mat-select-value,
    .mat-pseudo-checkbox,
    .mat-step-text-label {
        color: white;
    }
    .mat-select-arrow,
    .mat-form-field-label {
        color: #5a5a5a;
    }
    .mat-stepper-horizontal,
    .mat-stepper-vertical {
        background: #2f2f2f;
    }
    .mat-step-header .mat-step-icon-selected,
    .mat-step-header .mat-step-icon-state-done,
    .mat-step-header .mat-step-icon-state-edit {
        background: #039eba;
    }
}


/*
   * Android Dark Theme
   * -------------------------------------------
   */

.md body.dark {
    --ion-background-color: #1f1e1e;
    --ion-background-color-rgb: 0, 0, 0;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-item-background: #000000;
    --ion-card-background: #1c1c1d;
    ion-searchbar {
        padding-top: 10px;
    }
    .sl-select select,
    .sl-form-control,
    .select2-container--default .select2-selection--single,
    .sl-signupform .sl-btnarea .sl-checkbox label:before,
    .sl-signupform .sl-btnarea .sl-radio label:before,
    .sl-signupform .sl-btnarea .sl-checkbox label:after,
    .sl-signupform .sl-btnarea .sl-radio label:after,
    .otp-input,
    .sl-messageUser__area--right p,
    .sl-messageUser__area--left p {
        background: black!important;
        border-color: black!important;
    }
    .sl-signupform .sl-btnarea .sl-checkbox label:before,
    .sl-signupform .sl-btnarea .sl-radio label:before,
    .sl-signupform .sl-btnarea .sl-checkbox label:after,
    .sl-signupform .sl-btnarea .sl-radio label:after {
        color: white;
    }
    .otp-input:focus-visible,
    .otp-input:focus,
    .otp-input {
        border: none!important;
        outline: none!important;
    }
    .sl-emoji .sl-form-control {
        background-color: #2f2f2f!important;
        border-color: #2f2f2f!important;
    }
    .sl-emoji .sl-input-group>a:first-child {
        color: white;
        border-color: #2f2f2f;
        background-color: #2f2f2f;
    }
    .sl-messageUser__heading {
        background: transparent;
    }
    app-chat ion-toolbar {
        --background: black;
    }
    .date-slot label {
        background: #2f2f2f;
        color: white;
    }
    .date-slot input:checked+label {
        background: black;
    }
    .sl-profileSetting__socialmedia .sl-prepend,
    .sl-package__title,
    .sl-package__footer {
        background: black;
        border-color: black;
    }
    .sl-package {
        background-color: black;
        box-shadow: 0px 2px 8px black;
    }
    .sl-package__details li {
        color: #a8a8a8;
    }
    .sl-buyPackage__count--content {
        background: transparent;
    }
}


/*
   * iOS Dark Theme
   * -------------------------------------------
   */

.ios body.dark {
    --ion-background-color: #1f1e1e;
    --ion-background-color-rgb: 0, 0, 0;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255, 255, 255;
    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-item-background: #000000;
    --ion-card-background: #1c1c1d;
    ion-searchbar {
        padding-top: 10px;
    }
    .sl-select select,
    .sl-form-control,
    .select2-container--default .select2-selection--single,
    .sl-signupform .sl-btnarea .sl-checkbox label:before,
    .sl-signupform .sl-btnarea .sl-radio label:before,
    .sl-signupform .sl-btnarea .sl-checkbox label:after,
    .sl-signupform .sl-btnarea .sl-radio label:after,
    .otp-input,
    .sl-messageUser__area--right p,
    .sl-messageUser__area--left p {
        background: black!important;
        border-color: black!important;
    }
    .sl-signupform .sl-btnarea .sl-checkbox label:before,
    .sl-signupform .sl-btnarea .sl-radio label:before,
    .sl-signupform .sl-btnarea .sl-checkbox label:after,
    .sl-signupform .sl-btnarea .sl-radio label:after {
        color: white;
    }
    .otp-input:focus-visible,
    .otp-input:focus,
    .otp-input {
        border: none!important;
        outline: none!important;
    }
    .sl-emoji .sl-form-control {
        background-color: #2f2f2f!important;
        border-color: #2f2f2f!important;
    }
    .sl-emoji .sl-input-group>a:first-child {
        color: white;
        border-color: #2f2f2f;
        background-color: #2f2f2f;
    }
    .date-slot label {
        background: #2f2f2f;
        color: white;
    }
    .date-slot input:checked+label {
        background: black;
    }
    .sl-profileSetting__socialmedia .sl-prepend,
    .sl-package__title,
    .sl-package__footer {
        background: black;
        border-color: black;
    }
    .sl-package {
        background-color: black;
        box-shadow: 0px 2px 8px black;
    }
    .sl-package__details li {
        color: #a8a8a8;
    }
    .sl-buyPackage__count--content {
        background: transparent;
    }
}

.ios body.dark ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
    --ion-item-background: var(--ion-color-step-150);
}


/*ios specific styles*/

.ios ion-tab-bar {
    padding-bottom: 12px;
}