<ion-menu side="start" contentId="sidebar-content" menuId="sidebar-menu" persistent="true">
    <ion-header>
        <ion-toolbar translucent>
            <div fxLayout="column">
                <div class="p-2" fxLayout="row" fxLayoutAlign="start center">
                    <ion-avatar>
                        <img src="https://mynestonline.com/collection/images/company-logo/{{getImagePath(vendorCompanyLogo)}}" alt="Image Description" class="i-user-profile">
                    </ion-avatar>
                    <span class="sl-user__description"><em class="d-block">Hello!</em>{{vendorUsername}}</span>
                </div>
                <div class="sl-slider__tags" *ngIf="vendorDetails">
                    <span class="sl-bg-gold" *ngIf="vendorDetails.premium">Premium</span><span *ngIf="vendorDetails.verified" class="sl-bg-green">Verified</span>
                </div>
            </div>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ul class="i-userlist">
            <li matRipple [matRippleColor]="darkColor">
                <a href="javascript:void(0);" (click)="closeMenu()" routerLink="/profile-settings" routerDirection="forward">
                    <ion-icon name="settings"></ion-icon><span>Profile Settings</span>
                </a>
            </li>
            <li matRipple [matRippleColor]="darkColor">
                <a href="javascript:void(0);" (click)="closeMenu()" routerLink="/home/tabs/requirements">
                    <ion-icon name="albums"></ion-icon><span>My Requirements</span>
                </a>
            </li>
            <li matRipple [matRippleColor]="darkColor">
                <a href="javascript:void(0);" (click)="closeMenu()" routerLink="/home/tabs/chatroom">
                    <ion-icon name="chatbubble-ellipses"></ion-icon><span>Messages</span>
                </a>
            </li>
            <li matRipple [matRippleColor]="darkColor">
                <a href="javascript:void(0);" (click)="closeMenu()" routerLink="/advertisements" routerDirection="forward">
                    <ion-icon name="megaphone"></ion-icon><span>My Advertisements</span>
                </a>
            </li>
            <li matRipple [matRippleColor]="darkColor">
                <a href="javascript:void(0);" (click)="closeMenu()" routerLink="/packages" routerDirection="forward">
                    <ion-icon name="cube"></ion-icon><span>Packages</span>
                </a>
            </li>
            <li matRipple [matRippleColor]="darkColor">
                <a href="javascript:void(0);" (click)="closeMenu()" routerLink="/faq" routerDirection="forward">
                    <ion-icon name="help"></ion-icon><span>FAQ</span>
                </a>
            </li>
            <li matRipple [matRippleColor]="darkColor">
                <a href="javascript:void(0);" (click)="logout()">
                    <ion-icon name="log-out"></ion-icon><span>Logout</span>
                </a>
            </li>
        </ul>
    </ion-content>
    <ion-footer>
        <ion-toolbar>
            <div class="version-logo">
                <img src="assets/images/loader.png" alt="loader img">
                <small class="d-block left-five">v1.1 © 2021. All Rights Reserved</small>
                <small class="d-block left-five">crafted with <ion-icon name="heart" color="danger"></ion-icon> by<a target="_blank" href="https://www.amaeka.com/"> Amaeka Technologies</a></small>
            </div>
        </ion-toolbar>
    </ion-footer>
</ion-menu>

<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="landing">
            <ion-icon name="home"></ion-icon>
            <ion-label>Home</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="notifications">
            <ion-icon name="notifications"></ion-icon>
            <ion-label>Notifications</ion-label>
            <ion-badge *ngIf="notificationCount">{{notificationCount}}</ion-badge>
        </ion-tab-button>
        <ion-tab-button tab="advertise">
            <span class="mn-icon add"></span>
            <ion-label>Advertise</ion-label>
        </ion-tab-button>
        <ion-tab-button tab="chatroom">
            <ion-icon name="chatbubble-ellipses"></ion-icon>
            <ion-label>Messages</ion-label>
            <ion-badge *ngIf="messageCount">{{messageCount}}</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="requirements">
            <ion-icon name="newspaper"></ion-icon>
            <ion-label>Requirements</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>