<ion-header>
    <ion-toolbar fxLayout="row" fxLayoutAlign="start center">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>FAQ</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon color="primary">help</mat-icon>&nbsp; What is Mynestonline?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Mynestonline is a platform facilitate construction related business and service providers in kerala. This platform is designed to benefit both the businesses/services who wish to post their business and users those who are in immediate search of needful.
            </p>

        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon color="primary">help</mat-icon>&nbsp; How does mynestonline benefits you?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Mynestonline has taken the efforts of creating a comprehensive solution for finding business/service requirements in Kerala. The platform is created in a very user-friendly and easy to navigate manner that creates no confusion for the users.


            </p>

        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon color="primary">help</mat-icon>&nbsp; Why you should register in Mynestonline?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Registration is a simple process where the user fills there details to create an account in the site. Once registered the user will get a profile. The business/services posted in the site will be summarized in the My Account page. Also the user gets enquiries
                and payment informations of the business posted. Do you have a business/services to offer. Become a part of Mynest online through Registration as a vendor in <a href="https://www.mynestonline.com/vendor">www.mynestonline.com/vendor</a>
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon color="primary">help</mat-icon>&nbsp; Can I use Mynestonline without registering?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                Yes, you can use Mynestonline as a guest user to search thousands of business and services that fulfill your requirement.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon color="primary">help</mat-icon>&nbsp; Why should I give my email id and contact information when I register on Mynestonline?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                The email id that you specify is the one of the options on which you get all information and customer contact on your listed business/service. Other contact details are phone no. and your mailing address. You will get instant contact with your prospective
                customer through SMS and Email.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon color="primary">help</mat-icon>&nbsp;How can I register if I don’t have an email id?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                If you don’t have an email id , you could send the business details along with contact details to info@mynestonline.com or contact us at 9074763238 Our customer care will support you to post your business/service in the site. </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon color="primary">help</mat-icon>&nbsp; How can I be a premium member on mynestonline?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <ol>
                <li>
                    <p>firstly create a Business profile by adding necessary details , category and sub category</p>
                </li>
                <li>
                    <p>form Mynestonline vendor page you need to select packages option and choose the right membership plan</p>
                </li>
                <li>
                    <p>Complete your payment and confirm your premium membership and ensure high impact on mynestonline</p>
                </li>
            </ol>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon color="primary">help</mat-icon>&nbsp; How many business/service listing can I do in one registration?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                You could post only one business service under one registration. </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon color="primary">help</mat-icon>&nbsp; What happens if there is objectionable contents in any of the matter I have entered?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
                If by any chance any/all of the fields have objectionable content , the admin rejects entries in the field and sends you an email showing the reason why it has been rejected. You can change the matter and enter the fresh content using in profile setting.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon color="primary">help</mat-icon>&nbsp; What are the packages in the site?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>There are 3 types of packages. When you create the profile by default you are subscribed to sliver package and its free. Then you have 2 paid package option.</p>
            <ul>
                <li>
                    <p>Gold package</p>
                </li>
                <li>
                    <p>Platinum package</p>
                </li>
            </ul>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon color="primary">help</mat-icon>&nbsp; How can I make payments in mynestonline?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>You can use credit card , debit card or UPI to make payments.</p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon color="primary">help</mat-icon>&nbsp; How can I renew the package?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>To renew the expired package, the user can follow the same steps of making first payment.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon color="primary">help</mat-icon>&nbsp; What is post requirement?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p> User could post their requirements related to A to Z construction needs in the Mynestonline and their requirements will be reviewed by thousands of vendors related to it . As a result user will get quotations from vendors and user can choose
                their best options.
            </p>
        </mat-expansion-panel>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon color="primary">help</mat-icon>&nbsp;How can I contact Mynestonline?
                </mat-panel-title>
            </mat-expansion-panel-header>
            <p>You can contact Mynestonline through email at info@mynestonline.com or call us at 9074763238. Our support team will be available for your help from 9am-5.00pm(IST) from Monday to Saturday. Also you can email us any complaints/suggestions/clarifications
                To renew the expired package, the user can follow the same steps of making first payment.
            </p>
        </mat-expansion-panel>
    </mat-accordion>
</ion-content>